<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title><%= shop.shopName %> - <%= shop.reviews ? shop.reviews.length : 0 %> Reviews | Pakstani Online Store Reviews</title>
    <meta name="description" content="<%= shop.shopName %> - <%= shop.reviews ? shop.reviews.length : 0 %> Reviews - Find out if <%= shop.shopName %> deliver clothes, electronics and dresses on time. Read verified✓ and authentic✓ reviews by shoppers about online shops before making a purchase and avoid regret!" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}
@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 300;
	src: local(".SFNSText-LightItalic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Light Italic"), local("Ubuntu Light Italic"), local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 400;
	src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 400;
	src: local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Italic"), local("Ubuntu Italic"), local("Roboto-Italic"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 500;
	src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"), local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 500;
	src: local(".SFNSText-MediumItalic"), local(".HelveticaNeueDeskInterface-MediumItalicP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold Italic"), local("Ubuntu Medium Italic"), local("Roboto-MediumItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 700;
	src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Segoe UI Bold"), local("Ubuntu Bold"), local("Roboto-Bold"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 700;
	src: local(".SFNSText-BoldItalic"), local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"), local("Segoe UI Bold Italic"), local("Ubuntu Bold Italic"), local("Roboto-BoldItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}


/* Now, let's apply it on an element */
.bg-navy {
	background-color: #001F3F
}

.bg-blue {
	background-color: #0074D9
}

.bg-aqua {
	background-color: white;
}

.bg-teal {
	background-color: #39CCCC
}

.bg-olive {
	background-color: #3D9970
}

.bg-green {
	background-color: #2ECC40
}

.bg-lime {
	background-color: #01FF70
}

.bg-yellow {
	background-color: #FFDC00
}

.bg-orange {
	background-color: #FF851B
}

.bg-red {
	background-color: #FF4136
}

.bg-fuchsia {
	background-color: #F012BE
}

.bg-purple {
	background-color: #B10DC9
}

.bg-maroon {
	background-color: #85144B
}

.bg-white {
	background-color: #fff
}

.bg-gray {
	background-color: #aaa
}

.bg-silver {
	background-color: #fffde2;
}

.bg-black {
	background-color: #111
}

.navy {
	color: #001F3F
}

.blue {
	color: #0074D9
}

.aqua {
	color: #7FDBFF
}

.teal {
	color: #39CCCC
}

.olive {
	color: #3D9970
}

.green {
	color: #2ECC40
}

.lime {
	color: #01FF70
}

.yellow {
	color: #FFDC00
}

.orange {
	color: #FF851B
}

.red {
	color: #FF4136
}

.fuchsia {
	color: #F012BE
}

.purple {
	color: #B10DC9
}

.maroon {
	color: #85144B
}

.white {
	color: #fff
}

.silver {
	color: #ddd
}

.gray {
	color: #aaa
}

.black {
	color: #111
}
body {
	font-family: "system-ui";
	line-height: 1.4;
}

.card {
	width: 165px;
	margin: 5px;
}
        .star-filled, .star {
          text-decoration: none;
          font-size: 14px;
          color: rgb(243, 207, 0);
        }
        .content {
          max-width: 600px;
          margin: 0 auto;
        }
        .star-filled:before {
          content:'★';
        }
        .star:before{
          content:'☆';
        }
        .star:hover:before{
          content:'★';
        }
        .fl-right {
          margin-left: auto !important;
        }
        .card header {
          
        }
        .store-heading {
          padding-top: 6px;
        }
        .content {
          margin-top: 74px;
          padding-left: 20px;
          padding-right: 7px;
        }
        .card {
          width: 100%;
          margin-right: 8px;
          margin-bottom: 26px;
        }
        .card header{
          border: none;
        }
        small {
          font-style: italic;
          font-size: x-small;
          float: right;
          padding-bottom: 4px;
          padding-top: 12px;
        }
        .brand {
          color: hsla(210, 100%, 75%, 1.0) !important;
        }
        h1 {
          padding: 0;
          text-transform: capitalize;
        }
        h2 {
          font-size: 18px;
        }
        .card footer {
          padding-top: 0;
        }
        .card header {
          padding-bottom: 4px;
        }
        form {
          padding-right: 8px;
        }
        input[type=submit] {
          margin-top: 12px;
          margin-bottom: 5px;
        }
        .burger.button {
            color: white;
        }
        footer p{
          margin-bottom: 15px !important;
        }
        article.card.bg-aqua.self {
          background-color: darkkhaki;
        }
        .was-helpful{
          font-size: 12px;
        }
        .reviewcount {
          font-size: 14px;
          font-weight: 300;
          margin-left: 10px;
        }
        .margin-top-zero {
          margin-top: 0;
        }
        a {
	color: #0074d9;
	text-decoration: none;
	box-shadow: none;
}
      </style>
  </head>
  <body class="bg-silver">
    <nav class="demo bg-navy blue">
      <a href="/" class="brand blue">Online Shop Reviews</a>
    </nav>
    <div  class="content">
    <h1><%= shop.shopName %> reviews</h1>
    <p class="fl-right margin-top-zero">
        <% for (var i = 0; i < averageRating; i++) { %>
          <a href class="star-filled"></a>
        <% } %>
        <% for (var j = 0; j < 5-averageRating; j++) { %>
          <a href class="star"></a>
        <% } %>     
      <span class="reviewcount"><%= totalReviews %> reviews</span>
    </p>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "WebSite",
      "name": "<%= shop.shopName %>",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "<%= averageRating %>",
        "bestRating": "5",
        "ratingCount": "<%= totalReviews %>"
      }
    }
    </script>
    <p>
      Read the reviews of <strong><%= shop.shopName %></strong> by online shoppers on this page. They have given their experiences regarding customer support, 
      payment and delivery of goods they recieved after purchasing at here.
    </p>
    <p>If you have some experience shopping with <strong><%= shop.shopName %></strong>, please consider writing a <a href="#review">review</a>. </p>
    <p>If you represent this store, <a href="/contact">contact us at pakistani online shop reviews</a> to get your stored <strong>featured</strong> on our wesbite for a introductory price. </p>
    <div class="flex">
    
      <% shop.reviews.forEach(function(review){ %> 
        <script type="application/ld+json">
        {
          "@context": "http://schema.org/",
          "@type": "Review",
          "itemReviewed": {
            "@type": "WebSite",
            "name": "<%= shop.shopName %>"
          },
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "<%= review.score %>"
          },
          "reviewBody": "<%= review.text %>",
          "author": "pkshop.club"
        }
        </script>
        <article id="<%= review.id %>" class="card bg-aqua <%= (posted_review && review.id === posted_review.id) ? 'self' : '' %>">
          <header> 
            <% if (posted_review && review.id === posted_review.id) { %> 
              Your rating for this store
            <% } %>
            <p class="fl-right">
              <% for (var i = 0; i < review.score; i++) { %>
                <a class="star-filled"></a>
              <% } %>
              <% for (var j = 0; j < 5-review.score; j++) { %>
                <a class="star"></a>
              <% } %> 
              
            </p>
            
          </header>
          <footer style="color: hsla(197, 100%, 20%, 1.0);">
              <% if (posted_review && review.id === posted_review.id && review.text) { %> 
              <% } else if (posted_review && review.id === posted_review.id) {%>
                <a href="#review">Add text to your comment</a>
              <% } %>
              <p><%- review.text %></p>
              
              <% if (posted_review && review.id === posted_review.id) { %> 
              <% } else { %>
              <p class="was-helpful">
                  <% if (vote_array && vote_array.indexOf(parseInt(review.id, 10)) >= 0) { %> 
                    Thanks for your feedback
                  <% } else { %>
                Was this review helpful? 
                <a href="<%= `${path}/yes/${review.id}#${review.id}` %>">Yes</a> - 
                <a href="<%= `${path}/no/${review.id}#${review.id}` %>">No</a>
                <% } %>
              </p>
              <% } %>
              <small><%= review.helpful %> people found this helpful</small>                        
          </footer>
        </article>
        <% }) %>
    </div>
  
    
    <form action="" method="post" id="review">
    <hr />
    <label>
      <% if (posted_review && (posted_review.score && posted_review.text == null)) { %>
        Now write about your experience for <%= shop.shopName %>  
      <% } else if (posted_review && (posted_review.score && posted_review.text)) { %>
        Thank you for your valuable feedback for <%= shop.shopName %>  
      <% } else { %>
        Add your star rating for <%= shop.shopName %>
      <% } %>
    </label>
    <% if (posted_review == null || (posted_review && (posted_review.score == null || posted_review.text == null))) { %>
    <p class="fl-right">
    <% if (posted_review == null) { %> 
      <% for (var i = 0; i < 5; i++) { %>
      <a href="?post_rating=<%= i+1 %>#review" class="star"></a>
      <% } %>
    <% } else { %> 
        <% for (var i = 0; i < posted_review.score; i++) { %>
          <a href="?post_rating=<%= i+1 %>#review" class="star-filled"></a>
        <% } %>
        <% for (var j = 0; j < 5-posted_review.score; j++) { %>
          <a href="?post_rating=<%= j+1+posted_review.score %>#review" class="star"></a>
        <% } %> 
    <% } %>
    </p>
    <textarea name="review_text"><%= posted_review && posted_review.text ? posted_review.text : "" %></textarea>
    <input type="submit" value="Add Review"/>
    <% } %>
    </form>
    <h3> Other related shops </h3>
    <% related_shops.forEach(function(shop){ %>
      <article class="card bg-aqua">
        <header>
          <a href="/shop/<%= shop.slug %>">
            <h2 class="store-heading"><%= shop.shopName %></h2>
          </a>
          <% if (shop.text) {  %> 
          <p class="fl-right">
              <% for (var i = 0; i < shop.averageScore; i++) { %>
                <a href class="star-filled"></a>
              <% } %>
              <% for (var j = 0; j < 5-shop.averageScore; j++) { %>
                <a href class="star"></a>
              <% } %>     
            <span class="reviewcount"><%= shop.reviewcount %> reviews</span>
          </p>
          <% } else { %>
            <span class="reviewcount">No reviews yet - <a href="/shop/<%= shop.slug %>#review">Add a review</a></span> 
          <% } %>
        </header>
      </article>
    <% }); %>
    <hr />
    <a href="/">Go back to online shop reviews home page</a>
    
    
  </div>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109902138-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109902138-1');
  </script>
  
    
  </body>
</html>
